@media (max-width: 1200px) {
    .promo {
        max-height: 660px;
        padding: 21px 0 0 0;
        .container {
            width: 900px;
        }
        .header {
            &__logo {
                transform: scale(0.9);
                width: 240px;
            }
        }
    }

    .advantages {
        .container {
            max-width: 900px;
        }
    }

    .consultation {
        .container {
            max-width: 900px;
        }
    }
}

@media screen and (min-width: 767px) and (max-width: 991px) {
    .promo {
        min-height: 600px;
        &__wrapper {
            margin-top: 50px;
        }
        .container {
            max-width: 700px;
        }
    }

    .advantages {
        .container {
            max-width: 700px;
        }
    }

    .consultation {
        .container {
            max-width: 700px;
        }
        .title {
            &_left {
                font-size: 30px;
            }
        }
        &__descr {
            margin-top: 60px;
        }
    }

    .carousel {
        padding: 81px 0;
        &__inner {
            position: relative;
            width: 500px;
            margin: 0 auto;
            img {
                max-width: 100%;
            }
        }
    }
    .catalog {
        .container {
            max-width: 700px;
        }
        &__tab {
            width: 160px;
            font-size: 15px;
        }
    }
    
}

@media screen and (min-width: 575px) and (max-width: 767px) {
    .promo {
        min-height: 570px;
        height: 500px;
        &__wrapper {
            margin-top: 50px;
        }
        .container {
            max-width: 550px;
        }
        .header {
            &__logo {
                transform: scale(0.9);
                width: 200px;
            }
            &__official {
                display: none;
            }
            &__contacts {
                flex-direction: row ;
            }
            &__fhone {
                margin-right: 30px;
            }
        }
        &__wrapper {
            display: block;
            text-align: center;
        }
        &__icons {
            margin-top: 40px;
            width: unset; 
        }
    }

    .advantages {
        .container {
            max-width: 500px;
        }
        &__wrapper {
            margin-top: 20px;
            display: block;
            text-align: center;
        }
        &__item {
            max-width: unset;
            margin-top: 20px;
        }
    }

    .consultation {
        .container {
            max-width: 500px;
        }
        .title {
            &_left {
                font-size: 30px;
                text-align:center;
            }
        }
        &__descr {
            margin-top: 60px;
        }
    }

    .carousel {
        padding: 35px 0;
        &__inner {
            position: relative;
            width: 600px;
            margin: 0 auto;
            img {
                max-width: 100%;
            }
            .slick-prev, .slick-next {
                img {
                    display: none;
                }  
            }
        }  
    }

    .catalog {
        padding-bottom: 50px;
        .container {
            max-width: 700px;
        }
        &__content {
            justify-content:space-around;
        }
        &__tabs {
            margin-top: 30px;
        }
        &__tab {
            margin: 0 5px;
            width: 160px;
            font-size: 15px;
        }
    }
    
}

@media screen and (min-width: 320px) and (max-width: 575px) {
    .promo {
        min-height: 500px;
        height: 500px;
        .container {
            max-width: 300px;
        }
        .header {
            display: flex;
            align-items: center;
            flex-direction: column;
            &__logo {
                transform: scale(1);
                width: 270px;
                img {
                    width: 100%;
                }
            }
            &__official {
                display: none;
            }
            &__contacts {
                display: block;
                text-align: center;
            }
            &__fhone {
                margin: 10px 0 0 0;
            }
            .button {
                margin-top: 10px;
                width: 250px;
                height: 40px;
            }
        }
        &__wrapper {
            margin-top: 10px;
            display: block;
            text-align: center;
        }
        &__header {
            font-size: 30px;
            text-align: center;
        }
        &__subheader {
            margin-top: 10px;
            text-align: center;
        }
        &__icons {
            display: none;
        }
        &__icon {
            width: 150px;
        }
        button {
            margin-top: 15px;
            width: 250px;
        }
    }

    .advantages {
        .container {
            max-width: 300px;
        }
        &__wrapper {
            margin-top: 20px;
            display: block;
            text-align: center;
        }
        &__item {
            max-width: unset;
            margin-top: 20px;
        }
    }

    .consultation {
        padding: 50px 0 50px 0;
        .container {
            max-width: 300px;
        }
        .title {
            &_left {
                font-size: 24px;
                text-align:center;
            }
        }
        &__descr {
            margin-top: 40px;
            font-size: 19px;
        }
    }

    .carousel {
        padding: 35px 0;
        &__inner {
            position: relative;
            width: 300px;
            margin: 0 auto;
            img {
                max-width: 100%;
            }
            .slick-prev, .slick-next {
                img {
                    display: none;
                }  
            }
        }
    }

    .catalog {
        padding-bottom: 50px;
        &__tabs {
            margin-top: 35px;
            display: flex;
            flex-direction:column ;
        }
        &__tab {
            width: 160px;
            font-size: 15px;
            margin-bottom: 20px;
        }
        &__content {
            justify-content:space-around;
            margin-top: 30px;
        }
    }
    
}